<form class="formulario">
    
    <h1>Login</h1>


    <div class="contenedor">
    
    
        
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">
        
        </div>
        
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">
        
        </div>
            <input type="submit" value="Login" class="button">
            <p>Universidad Cooperativa de Colombia</p>
            <p>Crear cuenta <a class="link" href="../register/register.component.html">Registrate </a></p>
            
    </div>
</form>
