<form class="formulario">
    
    <h1>Register</h1>


    <div class="contenedor">
    
    
        
        <div class="input-contenedor">
            <i class=""></i>
            <input type="text" placeholder="Nombre Completo">
        
        </div>
        
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="password" placeholder="Correo Electronico">
        </div>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">
        </div>
         
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Confirme contraseña">
        </div>
         
       
         
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Telefono">
        </div>
         
        
        <div class="input-contenedor">
        <p>Seleccione la Empresa</p>
          <mat-form-field>
<mat-label> Seleccione empresa </mat-label>
<mat-select>   
<mat-option  value = "1"> Ucc </mat-option>
<mat-option  value = "2"> U-javeriana</mat-option>
<mat-option  value = "3"> UAO </mat-option>
<mat-option  value = "4"> U-ICESI </mat-option>
<mat-option  value = "5"> U-SANBUENAVENTURA </mat-option>
</mat-select>
</mat-form-field>

        </div>


        <div class="input-contenedor">
            <p>Seleccione el sector</p>
              <mat-form-field>
    <mat-label> Seleccione sector </mat-label>
    <mat-select>   
    <mat-option  value = "6"> Publico </mat-option>
    <mat-option  value = "7"> Privado </mat-option>
    <mat-option  value = "8"> Solidario </mat-option>
    <mat-option  value = "9"> Gremios </mat-option>
    <mat-option  value = "10"> Lideres de opinion </mat-option>
    <mat-option  value = "11"> Medios de comunicacion </mat-option>

    </mat-select>
    </mat-form-field>
    
            </div>




            <input type="submit" value="Register" class="button"> 
    </div>
</form>
